/* Vorhandene Styles */
#movie-list {
    list-style: none;
    padding: 20px;
    width: 50vw;
    max-width: 700px;
    min-width: 340px;
    border-radius: 10px;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 0px;
    width: 100%;
    margin: 0px;
}

input {
    background-color: #ffffff;
    color: #3d3d3d;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    border: solid 4px #3d3d3d;
    margin: 37px 10px 20px 10px;
    width: 30vw;
    max-width: 500px;
    min-width: 200px;
    font-size: 1em;
    transition: border-color 0.25s;
}

input:hover {
    border-color: #d2b593;
}

input:focus {
    outline: none;
    border-color: #d2b593;
}

input::placeholder {
    text-align: center;
}

#mehrButton {
    position: relative;
    bottom: 10px;
}

/* Hinzugefügte Styles für das Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    /* Sie können hier eine Maximalbreite festlegen, um zu verhindern, dass das Popup zu groß wird */
    max-width: 80%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); /* Optional: Schatten für das Popup für besseres Aussehen */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; /* Cursor-Stil, um zu zeigen, dass der Button klickbar ist */
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: antiquewhite; /* Farbe des Schließbuttons */
}