.movie-item {
    background-color: #ffffff;
    color: #3d3d3d;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
    border: solid 4px #3d3d3d;
    cursor: pointer;
    transition: border-color 0.25s;
}

.movie-item:hover {
    border-color: #d2b593;
}